.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo-item input[type='checkbox'] {
  margin-right: 15px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  flex-grow: 1;
}

.title.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #ff0b37;
  background-color: #fff;
  color: #ff0b37;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.edit-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  border: 2px solid green;
  background-color: #fff;
  color: green;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.edit-btn {
  margin-right: 10px;
}

.edit-btn:hover {
  background-color: green;
  color: #fff;
}

.delete-btn:hover {
  background-color: #ff0b37;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
  }

  .todo-item {
    padding: 15px;
  }

  .edit-btn,
  .delete-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 20px;
  }

  .todo-item {
    padding: 20px;
  }

  .edit-btn,
  .delete-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}

.edit-input {
  width: 30vw;
  padding: 6px;
  border-radius: 12px;
}
